<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userDAO" class="ua.epam.spring.hometask.dao.impl.UserDAOImpl">
        <property name="users">
            <map>
                <entry key="0">
                    <bean class="ua.epam.spring.hometask.domain.User">
                        <property name="id" value="0"/>
                        <property name="email" value="danilchican@mail.ru"/>
                        <property name="firstName" value="Uladzislau"/>
                        <property name="lastName" value="Danilchyk"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="auditoriumDAO" class="ua.epam.spring.hometask.dao.impl.AuditoriumDAOImpl">
        <property name="auditoriums">
            <set>
                <bean class="ua.epam.spring.hometask.domain.Auditorium">
                    <property name="name" value="Aud 1"/>
                    <property name="numberOfSeats" value="2"/>
                </bean>
                <bean class="ua.epam.spring.hometask.domain.Auditorium">
                    <property name="name" value="Aud 2"/>
                    <property name="numberOfSeats" value="51"/>
                </bean>
            </set>
        </property>
    </bean>

    <context:component-scan base-package="ua.epam.spring.hometask"/>

</beans>